/*------------------------------------------------------------------
[Adventalk Stylesheet]

Project:    AdvenTalk
Version:    1
Author:     TeamLicorne

[Table of contents]

1. Pages Gestion Membres // BACK

-------------------------------------------------------------------*/

/*---------------------------------------------*/
/*--- 1. Pages Gestion Membres // BACK --------*/
/*---------------------------------------------*/

#gestion-membre h1{
    text-align: center;
}