/*------------------------------------------------------------------
[Adventalk Stylesheet]

Project:    AdvenTalk
Version:    1
Author:     TeamLicorne

[Table of contents]

1. Pages Gestion Membres // BACK

-------------------------------------------------------------------*/

/*---------------------------------------------*/
/*--- 1. Pages Gestion Membres // BACK --------*/
/*---------------------------------------------*/
#gestion-membre{
    max-width: 1200px;
}
#gestion-membre h1{
    text-align: center;
}

#gestion-membre #resultat-msg{
    text-align: center;
    background: green;
    color: #eee;
    font-size: 20px;
}

/* Tableau */

#gestion-membre  td > img{
    max-width: 100px;
}

#gestion-membre th{
    font-size: 15px;
    padding: 0 10px;
    vertical-align: middle;
}
#gestion-membre td{
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}

#gestion-membre #delete{
    background-image: url("../img/user-delete.png");
    border: none;
    width: 50px;
    height: 50px;
}

#gestion-membre #search{
    background-image: url("../img/user-edit.png");
    border: none;
    width: 50px;
    height: 50px;
}

/* Formulaire  */

#formulaire{
    margin: 0 auto 10%;
    width: 350px;
    font-size: 15px;
}
#formulaire input,
#formulaire label,
#formulaire select{
    width: 350px;
    padding: 9px;
}

#formulaire label{
	display: block;
}
#formulaire input[type="submit"]{
    margin-top: 5%;
}

#formulaire input,
#formulaire select{
    border: solid 2px #7EC947;
    background: #fff;
}

#gestion-membre .btn-create input[type="submit"]{
    width: 100%;
    margin-top: 0;
}



/*---------------------------------------------*/
/*--- 1. Pages Register Membre // FRONT -------*/
/*---------------------------------------------*/
#form-register,
#form-login{
    margin: 0 auto 10%;
    width: 350px;
}
#form-register input,
#form-register label,
#form-register select,
#form-login input,
#form-login label,
#form-login select{
    width: 350px;
}

#form-register input,
#form-login input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 3px #7EC947;
    background: #fff;
}

#form-register input:hover,
#form-login input:hover{
    background:  #7EC947;
    color: #eee;
}

#form-register select:focus,
#form-register input:focus,
#form-login select:focus,
#form-login input:focus{
    outline: 3px solid #7EC947;
}

.btn-create input[type="submit"],
#form-register  input[type="submit"],
#form-login  input[type="submit"],
#formulaire input[type="submit"]{
    margin-top: 5%;
    background: #7EC947;
    font-size: 20px;
    color: #fff;
    border: solid 3px #7EC947;
}

.btn-create input[type="submit"]:hover,
#form-register input[type="submit"]:hover,
#form-login input[type="submit"]:hover,
#formulaire input[type="submit"]:hover{
    background: #fff;
    color: #7EC947;
    border: solid 3px #7EC947;
}


/***** Mise en forme du bouton d'UPLOAD de l'avatar *****/
#form-register [type="file"] {
  color: #878787;
}
#form-register [type="file"]::-webkit-file-upload-button {
  background: #7EC947;
  border: 2px solid #7EC947;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

#form-register [type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #000;
}

/********************************************************/

#registerUser,
#loginUser{
    max-width: 900px;
}
#registerUser h1,
#loginUser h1{
    text-align: center;
}

#registerUser label,
#loginUser label{
	display: block;
    font-size: 17px;
    margin-top: 5%;
}
